.schedule {
  --schedule-first-column: 4ch;

  display: grid;
  gap: 2px 1rem;
  max-width: 100%;
  overflow-x: auto;

  @media (--md) {
    --schedule-first-column: 8ch;
    overflow-x: visible;
  }
}

.schedule__hour {
  grid-row-end: span 12;
  grid-column: 1;
  padding: 0.5rem;
}

.schedule__divider {
  background: #ccc;
  height: 1px;
  grid-column: 1 / -1;
}

.schedule__room {
  grid-row-start: head;
  text-align: center;
  padding: 1rem;
  position: sticky;
  z-index: 2;
  top: 0;
  margin-bottom: 0.5rem;
}
