.site-head {
  padding: var(--space-400) 0;
  z-index: 100;
  position: relative;
}

.nav {
  align-items: center;
  justify-content: space-between;
}

.nav__home-link svg {
  height: 5.5rem;
  width: auto;
}

.nav__items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform-origin: center top;

  @media (--nav) {
    flex-direction: row;
    width: auto;
  }
}

.nav__item {
  &:last-of-type {
    padding-top: var(--space-200);

    @media (--nav) {
      padding-top: 0;
      padding-left: var(--space-200);
    }
  }
}

.nav__button {
  appearance: none;
  padding: 0.25rem;
  border: none;
  color: var(--color-peach);
  background: transparent;
  cursor: pointer;

  & svg {
    --size: 2.5rem;

    width: var(--size);
    height: var(--size);
  }

  &[aria-expanded="true"] + .nav__items {
    display: flex;
  }

  @media (--nav) {
    display: none;
  }

  .no-js & {
    display: none;
  }
}

.js-active {
  /* When JS is enabled hide the nav Items on small screens */
  & .nav__items {
    display: none;

    @media (--nav) {
      display: flex;
    }
  }
}

.nav__link {
  --inline-padding: 0.75em;
  position: relative;
  font-weight: bold;
  padding: var(--inline-padding) 1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 calc(-1 * var(--inline-padding));
  transition: 0.2s ease;

  &[aria-current="page"] {
    color: var(--color-peach);
    pointer-events: none;
  }

  &[data-state="active"] {
    color: var(--color-peach);
  }

  &:hover {
    color: var(--color-peach);
  }

  &:focus-visible {
    outline: 2px dashed var(--color-peach);
    outline-offset: -5px;
  }

  @media (--nav) {
    margin: 0;

    .nav__item:last-of-type & {
      margin-right: calc(-1 * var(--inline-padding));
    }
  }

  .with-text-shadow & {
    text-shadow: 0 1px 3px rgb(0 0 0 / 0.7);
  }
}

@media (--nav) {
  /* Show Subnavi on hover when JS is disabled */
  .no-js > li:hover .nav__sublist ul {
    display: block;
  }

  .sub-nav-toggle + .nav__sublist ul {
    display: none;
    position: absolute;
  }
}
