.archive {
  position: relative;
  h1 {
    text-align: center;
  }

  .year-navigation {
    list-style-type: none;
    padding: 0;

    li {
      text-decoration: none;
    }
  }
  .oscar-sign {
    display: none;
    height: 13rem;
    width: 12rem;
    z-index: 999;
    position: absolute;
    top: 3rem;
    right: 2rem;

    @media (--lg) {
      display: block;
    }

    span {
      line-height: 1;
      position: absolute;
      bottom: 1.25rem;
      right: 4rem;
      text-align: center;
    }
  }
}

.archive__beam {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  width: clamp(70rem, 233vw, 100%);
  right: 0;
  top: 15rem;
  max-width: none;
  display: none;

  @media (--lg) {
    top: 10vh;
    display: block;
  }
}
