.gadget-intro {
  margin-top: calc(-1 * var(--space-900));
  background: var(--color-violet);
}

.gadget-intro__spline {
  width: 100%;
  height: max(25rem, 80svh);
  pointer-events: none;
  z-index: 0;
  position: sticky;
  top: 0;
}

.gadget-intro__content {
  background-color: var(--color-violet);
  padding-top: var(--space-900);
  padding-bottom: clamp(5rem, 12vh, 18rem);
  margin-bottom: clamp(5rem, 12vh, 18rem);
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    height: clamp(5rem, 12vh, 18rem);
  }

  &::before {
    width: 100%;
    display: block;
    background-image: linear-gradient(
      to top,
      rgb(79 81 169) 0%,
      rgb(79 81 169 / 0.987) 8.1%,
      rgb(79 81 169 / 0.951) 15.8%,
      rgb(79 81 169 / 0.896) 23%,
      rgb(79 81 169 / 0.825) 29.8%,
      rgb(79 81 169 / 0.741) 36.4%,
      rgb(79 81 169 / 0.648) 42.7%,
      rgb(79 81 169 / 0.55) 48.8%,
      rgb(79 81 169 / 0.45) 54.9%,
      rgb(79 81 169 / 0.352) 60.9%,
      rgb(79 81 169 / 0.259) 67%,
      rgb(79 81 169 / 0.175) 73.1%,
      rgb(79 81 169 / 0.104) 79.4%,
      rgb(79 81 169 / 0.049) 86%,
      rgb(79 81 169 / 0.013) 92.8%,
      rgb(79 81 169 / 0) 100%
    );
    bottom: 100%;
    inset-inline: 0;
    position: absolute;
  }

  &::after {
    width: 100%;
    display: block;
    background-image: linear-gradient(
      to bottom,
      rgb(79 81 169) 0%,
      rgb(79 81 169 / 0.987) 8.1%,
      rgb(79 81 169 / 0.951) 15.8%,
      rgb(79 81 169 / 0.896) 23%,
      rgb(79 81 169 / 0.825) 29.8%,
      rgb(79 81 169 / 0.741) 36.4%,
      rgb(79 81 169 / 0.648) 42.7%,
      rgb(79 81 169 / 0.55) 48.8%,
      rgb(79 81 169 / 0.45) 54.9%,
      rgb(79 81 169 / 0.352) 60.9%,
      rgb(79 81 169 / 0.259) 67%,
      rgb(79 81 169 / 0.175) 73.1%,
      rgb(79 81 169 / 0.104) 79.4%,
      rgb(79 81 169 / 0.049) 86%,
      rgb(79 81 169 / 0.013) 92.8%,
      rgb(79 81 169 / 0) 100%
    );
    top: 100%;
    inset-inline: 0;
    position: absolute;
  }
}

.gadget-intro__illustration {
  width: 100%;
  height: auto;
  overflow: visible;
}

.gadget-intro__keycap-wrapper {
  transform-box: fill-box;

  translate: calc(var(--pointer-x) * -5%) calc(var(--pointer-y) * -5%);
}

.gadget-intro__keycap {
  transform-box: fill-box;

  --keycap-scale-start: 0.9;
  --keycap-scale-end: 1;
  scale: calc(
    var(--keycap-scale-start) +
      (var(--keycap-scale-end) - var(--keycap-scale-start)) * var(--progress)
  );

  --keycap-translate-start: 50%;
  --keycap-translate-end: -13%;
  translate: 0
    calc(
      var(--keycap-translate-start) +
        (var(--keycap-translate-end) - var(--keycap-translate-start)) *
        var(--progress)
    );
}

.gadget-intro__illustration-line {
  transform-origin: center;
  transform-box: fill-box;

  --line-scale-start: 0.9;
  --line-scale-end: 1;
  scale: calc(
    var(--line-scale-start) + (var(--line-scale-end) - var(--line-scale-start)) *
      clamp(0, var(--progress), 1)
  );

  --line-translate-start: 10%;
  --line-translate-end: 0%;
  translate: 0
    calc(
      var(--line-translate-start) +
        (var(--line-translate-end) - var(--line-translate-start)) *
        var(--progress)
    );

  --line-opacity-start: 0.3;
  --line-opacity-end: 1;
  opacity: calc(
    var(--line-opacity-start) +
      (var(--line-opacity-end) - var(--line-opacity-start)) * var(--progress)
  );
}

.gadget-info__logo {
  margin-inline: auto;
  color: var(--color-violet);
}

.gadget-info__divider {
  height: 5rem;
  width: 2px;
  background-color: var(--color-violet);
  margin-inline: auto;
}

.gadget-slider {
  & swiper-container {
  }

  & swiper-slide {
    object-fit: contain;
    width: fit-content;

    & img {
      width: auto;
      height: 40rem;
    }
  }
}
