.mission {
  margin-top: var(--space-900);

  @media (--md) {
    margin-top: var(--space-900);
  }

  .rhomb-image {
    max-width: 18rem;
    margin-inline: auto;

    @media (--lg) {
      margin-inline: unset;
      margin-left: auto;
    }
  }

  .rhomb-image__svg {
    width: 18rem;
    margin-inline: auto;

    @media (--lg) {
      margin-inline: unset;
      margin-left: auto;
    }
  }
}

.mission__text {
  background-color: var(--color-light-gray);
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding: min(5%, 3rem);
}

.venue {
  position: relative;
  min-height: 20vw;

  .rhomb-image {
    max-width: 28rem;
    margin-left: auto;
  }

  .rhomb-image__svg {
    width: 18rem;
    margin-inline: auto;

    @media (--md) {
      width: 24rem;
      margin-inline: unset;
      margin-left: auto;
    }

    @media (--lg) {
      width: 28rem;
    }
  }
}

.venue__beam {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  width: clamp(70rem, 233vw, 100%);
  right: 0;
  top: 17rem;
  max-width: none;

  @media (--lg) {
    top: -20rem;
  }
}

.venue__text {
  max-width: 60ch;
  position: relative;
  z-index: 999;
  padding: 1rem;

  &::before {
    pointer-events: none;
    position: absolute;
    left: -6rem;
    top: -3vw;
    width: 90vw;
    height: 12vw;
    background: url(/assets/images/beams/deco-line-01.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";

    @media (--md) {
      left: -1vw;
      width: 45vw;
      height: 8vw;
    }

    @media (--lg) {
      left: -5vw;
    }
  }
}

.projects {
  position: relative;
  text-align: center;
  margin-top: 14rem;

  @media (--md) {
    margin-top: 22rem;
    text-align: right;
  }
  @media (--lg) {
    margin-top: 30rem;
    text-align: right;
  }

  &::before {
    pointer-events: none;
    position: absolute;
    right: -0.75rem;
    top: -25rem;
    width: 20.02rem;
    height: 40.2rem;
    background: url(/assets/images/beams/deco-line-02.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
    display: none;

    @media (--lg) {
      display: block;
    }
  }
  &::after {
    pointer-events: none;
    position: absolute;
    left: -0.75rem;
    top: -2rem;
    width: 35.02vw;
    height: 50.2vw;
    background: url(/assets/images/beams/deco-line-03.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
    display: none;

    @media (--lg) {
      display: block;
    }
  }
}

.organizer {
  position: relative;
  text-align: center;

  @media (--lg) {
    text-align: left;
  }

  &::before {
    pointer-events: none;
    position: absolute;
    right: -0.75rem;
    top: -10rem;
    width: 28.02rem;
    height: 60.2rem;
    background: url(/assets/images/beams/deco-line-05.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
    display: none;

    @media (--lg) {
      display: block;
    }

    @media (--xl) {
      width: 33.02rem;
      top: -12rem;
    }
  }
}

.sponsors {
  position: relative;
  text-align: center;
  margin-top: 12rem;

  @media (--lg) {
    margin-top: 30rem;
    text-align: right;
  }

  .scroll-gallery {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    /* Scrollbar style */
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
  }

  .scroll-gallery__image {
    position: relative;
    margin-bottom: 1rem;
    scroll-snap-align: start;
    aspect-ratio: 1;
    max-width: 100%;
    max-height: 100%;
    width: 15rem;
    height: 15rem;
    padding: 1rem;

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.sponsors__beam {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  width: clamp(70rem, 233vw, 90rem);
  right: 0;
  top: 15rem;
  max-width: none;

  @media (--lg) {
    top: 10vh;
  }
}

.sponsors__beam--1 {
  top: 10vh;
  left: 0;
  display: none;

  @media (--lg) {
    display: block;
  }
}

.sponsors__beam--2 {
  top: 30vh;
  left: 0;
  display: none;

  @media (--lg) {
    display: block;
  }
}

.newsletter {
  text-align: center;

  .button {
    font-size: var(--space-600);
  }
}
