.mission {
  margin-top: get-size("900");

  @include media-query("md") {
    margin-top: get-size("major");
  }

  .rhomb-image {
    max-width: 18rem;
    margin-inline: auto;

    &__svg {
      width: 18rem;
      margin-inline: auto;

      @include media-query("lg") {
        margin-inline: unset;
        margin-left: auto;
      }
    }
    @include media-query("lg") {
      margin-inline: unset;
      margin-left: auto;
    }
  }

  &__text {
    background-color: get-color("light-gray");
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    padding: min(5%, 3rem);
  }
}

.venue {
  position: relative;
  min-height: 50vw;

  &__beam {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    width: clamp(70rem, 233vw, 100%);
    right: 0;
    top: 17rem;
    max-width: none;

    @include media-query("lg") {
      top: -20rem;
    }
  }
  &__text {
    max-width: 60ch;
    position: relative;
    z-index: 999;
    padding: 1rem;

    &::before {
      pointer-events: none;
      position: absolute;
      left: -6rem;
      top: -3vw;
      width: 90vw;
      height: 12vw;
      background: url(/images/beams/deco-line-01.svg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      content: "";

      @include media-query("md") {
        left: -1vw;
        width: 45vw;
        height: 8vw;
      }

      @include media-query("lg") {
        left: -5vw;
      }
    }
  }

  .rhomb-image {
    max-width: 28rem;
    margin-left: auto;
    &__svg {
      width: 18rem;
      margin-inline: auto;

      @include media-query("md") {
        width: 24rem;
        margin-inline: unset;
        margin-left: auto;
      }

      @include media-query("lg") {
        width: 28rem;
      }
    }
  }
}

.projects {
  position: relative;
  text-align: center;
  margin-top: 14rem;

  @include media-query("md") {
    margin-top: 22rem;
    text-align: right;
  }
  @include media-query("lg") {
    margin-top: 30rem;
    text-align: right;
  }
  &::before {
    pointer-events: none;
    position: absolute;
    right: -0.75rem;
    top: -25rem;
    width: 20.02rem;
    height: 40.2rem;
    background: url(/images/beams/deco-line-02.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
    display: none;

    @include media-query("lg") {
      display: block;
    }
  }
  &::after {
    pointer-events: none;
    position: absolute;
    left: -0.75rem;
    top: -2rem;
    width: 35.02vw;
    height: 50.2vw;
    background: url(/images/beams/deco-line-03.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
    display: none;

    @include media-query("lg") {
      display: block;
    }
  }
}

.organizer {
  position: relative;
  text-align: center;

  @include media-query("lg") {
    text-align: left;
  }

  &::before {
    pointer-events: none;
    position: absolute;
    right: -0.75rem;
    top: -10rem;
    width: 28.02rem;
    height: 60.2rem;
    background: url(/images/beams/deco-line-05.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
    display: none;

    @include media-query("lg") {
      display: block;
    }

    @include media-query("xl") {
      width: 33.02rem;
      top: -12rem;
    }
  }

  // &::after {
  //   pointer-events: none;
  //   position: absolute;
  //   left: -25rem;
  //   top: -7.75rem;
  //   width: 38.02rem;
  //   height: 70.2rem;
  //   background: url(/images/beams/deco-line-04.svg);
  //   background-size: 100% auto;
  //   background-repeat: no-repeat;
  //   content: "";

  //   @include media-query("md") {
  //     left: -20rem;
  //   }

  //   @include media-query("lg") {
  //     left: -2rem;
  //     top: 2rem;
  //   }

  //   @include media-query("xl") {
  //     width: 42.02rem;
  //   }
  // }
}

.sponsors {
  position: relative;
  text-align: center;
  margin-top: 12rem;

  @include media-query("lg") {
    margin-top: 30rem;
    text-align: right;
  }

  &__beam {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    width: clamp(70rem, 233vw, 90rem);
    right: 0;
    top: 15rem;
    max-width: none;

    @include media-query("lg") {
      top: 10vh;
    }

    &--1 {
      top: 10vh;
      left: 0;
      display: none;

      @include media-query("lg") {
        display: block;
      }
    }

    &--2 {
      top: 30vh;
      left: 0;
      display: none;

      @include media-query("lg") {
        display: block;
      }
    }
  }

  .scroll-gallery {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &__image {
      position: relative;
      margin-bottom: 1rem;
      scroll-snap-align: start;
      aspect-ratio: 1;
      max-width: 100%;
      max-height: 100%;
      width: 15rem;
      height: 15rem;
      padding: 1rem;

      img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
      }

      p {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    // Scrollbar style
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
  }
}

.newsletter {
  text-align: center;

  .button {
    font-size: get-size("600");
  }
}
