.team {
  position: relative;
  padding-bottom: 5rem;

  &__beam {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: clamp(70rem, 233vw, 100%);
    right: 0;
    top: 28rem;
    max-width: none;

    &--1 {
      top: 0;
      z-index: 0;
    }
  }

  h2 {
    text-align: center;
  }
}
