{% extends "layouts/base.njk" %}

{% block content %}

  <section class="archive">
    <img loading="lazy" decoding="async" alt="" class="archive__beam" src="/assets/images/beams/beam-02.svg" aria-hidden="true">
    <div class="wrapper-l | stack-700">
      <h1 class="text-800-major weight-black uppercase leading-tight text-peach">
      Archive
    </h1>
      {% include "partials/year-navigation.njk" %}
      {% include "partials/condensed-talks.njk" %}

      {% if gallery %}
        {% include "partials/gallery.njk" %}
      {% endif %}
    </div>
  </section>
{% endblock %}