{% extends "layouts/base.html" %}

{% block content %}

<section class="archive">
  <img loading="lazy" decoding="async" alt="" class="archive__beam" src="/images/beams/beam-02.svg" aria-hidden="true">
  <div class="wrapper-l | stack-700">
    <h1 class="fluid-text-800-major weight-black uppercase leading-tight color-peach">
      Archive
    </h1>
    {% include "partials/year-navigation.html" %}
    {% include "partials/condensed-talks.html" %}

    {% if gallery %}
     {% include "partials/gallery.html" %}
    {% endif %}
  </div>
</section>
{% endblock %}
