{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}

    <script>
      document.documentElement.classList.remove("no-js");
      document.documentElement.classList.add("js-active");
    </script>

    <link rel="stylesheet" media="all" href="/fonts/fonts.css?{{ assetHash }}" />

    <style>
      {% include "css/critical.css" %}
    </style>

    {# Add facility for pages to declare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>
          {% include item %}
        </style>
      {% endfor %}
    {% endif %}
  </head>

  <body>
    <div class="site-wrap">
      {% if triangle %}
      <div class="triangle" aria-hidden="true"></div>
      {% endif %}
        <div class="stack-900" style="overflow: hidden;">
          {% if not transparentHeader %}
          {% include "partials/site-head-home.html" %}
          {% else %}
          {% include "partials/site-head.html" %}
          {% endif %}
        <main tabindex="-1" id="main-content">
          {% block content %}{% endblock %}
        </main>
        {% include "partials/site-foot.html" %}
      </div>
    </div>
        <script src="/scripts/nav.js"></script>
  </body>
</html>
