{% extends "layouts/base.html" %}

{% block content %}

<div class="stack-800"> 
<section id="mission">
    <div class="wrapper">
      <div class="stack-300">
        <h2 class="color-peach weight-black fluid-text-800-major uppercase leading-flat">Mission</h2>
        <p class="color-peach weight-bold text-700 leading-tight">Change the way of firmware development, collaborate with
          others and share knowledge.</p>
        <p class="fluid-text-500-600">Closed source firmware development has been the de-facto standard for the
          electronics industry since its inception. That didn't change even when open-source took off in other areas. Now,
          with changing use cases and strict security requirements, it's more important than ever to take open-source
          firmware development to the next level. That's why we're inviting you to the Open Source Firmware Conference.
        </p>
      </div>
    </div>
</section>

</div>

{%endblock %}