{% extends "layouts/base.html" %}

{% block content %}
  {# <div class="triangle" aria-hidden="true"></div> #}
{% include "partials/rhomb.svg" %}

  <div class="stack-major">
    <section id="intro" class="intro">
      {% include "partials/intro-decoration.svg" %}
      <div class="wrapper-m">
        <h1 class="hero__logo intro__branding">
          {% include "partials/logo-2022.svg" %}
        </h1>
      </div>
    </section>

    <section id="mission" class="mission">
      <div class="wrapper-l stack-600">
        <div class="stack-300 shadow-box bg-light-gray mission__text">
          <h2 class="color-peach weight-black fluid-text-800-major uppercase leading-flat">Mission</h2>
          <p class="color-peach weight-bold fluid-text-600-700 leading-tight">Change the way of firmware development, collaborate with
          others and share knowledge.</p>
          <p class="fluid-text-500-600">Closed source firmware development has been the de-facto standard for the
          electronics industry since its inception. That didn't change even when open-source took off in other areas. Now,
          with changing use cases and strict security requirements, it's more important than ever to take open-source
          firmware development to the next level. That's why we're inviting you to the Open Source Firmware Conference.
        </p>
          <a href="https://talks.osfc.io/osfc2022/cfp" class="button">Participate Now!</a>
        </div>
        <div class="rhomb-image">
          {% set projectSize = 330 %}
          {% set projectOffset = 0 %}
          <a href="https://9esec.io/" target="_blank">
          <svg class="rhomb-image__svg" viewBox="0 0 330 330" aria-label="">
            <polygon class="rhomb-image__border" fill="#fff" stroke-width="14" stroke="#fff"
            points="7 188 7 142 142 7 188 7 323 142 323 188 188 323 142 323"></polygon>
            <image clip-path="url(#oct-clip)" height="{{ projectSize }}" width="{{ projectSize }}"
            x="{{ projectOffset }}" y="{{ projectOffset }}"
            xlink:href="/images/organizer/9e_cc_logo.svg"></image>
          </svg>
          </a>
        </div>
      </div>
    </section>

    <section id="venue" class="venue">
      <img loading="lazy" decoding="async" alt="" class="venue__beam" src="/images/beams/beam-01.svg" aria-hidden="true">
      <div class="wrapper-l stack-600">
        <div class="stack-300 venue__text bg-light-gray">
          <h2 class="color-black weight-black fluid-text-800-major uppercase leading-flat">Venue</h2>
          <p class="fluid-text-400-500 weight-bold">OSFC goes to Sweden!</p>
          <p class="fluid-text-400-500">This year we meet in person again in Gothenburg:</p>
          <address class="fluid-text-400-500" style="font-style: normal">
            Quality Hotel The Weaver <br>
            Göteborgsvägen 91 <br>
            431 37, Mölndal <br>
            Sweden
          </address>
          <p class="color-peach weight-black fluid-text-400-500 uppercase leading-flat"> <a href="https://pretix.eu/9eSec/osfc2022/">Get your tickets here!</a></p>
          <p class="fluid-text-400-500">We will provide booking codes with a discount for hotel rooms along with each ticket.</p>
        </div>
        
        <div class="rhomb-image">
          {% set projectSize = 330 %}
          {% set projectOffset = 0 %}
          <a href="https://goo.gl/maps/CvTcHGhd4pNqELMb8" target="_blank">
          <svg class="rhomb-image__svg" viewBox="0 0 330 330" aria-label="">
            <polygon class="rhomb-image__border" fill="#fff" stroke-width="14" stroke="#fff"
            points="7 188 7 142 142 7 188 7 323 142 323 188 188 323 142 323"></polygon>
            <image clip-path="url(#oct-clip)" height="{{ projectSize }}" width="{{ projectSize }}"
            x="{{ projectOffset }}" y="{{ projectOffset }}"
            xlink:href="/images/oscar_map.png"></image>
          </svg>
          </a>
        </div>
      </div>
    </section>

    <section id="projects" class="projects">
      <div class="wrapper-l">
        <div class="stack-300">
          <h2 class="color-black weight-black fluid-text-800-major uppercase leading-flat">Projects</h2>
          <div class="rhomb-grid">
            {% set projectList = helpers.sortCollectionByArray(collections.projects, dataSorting.projects, 'name') %}
            {% for rhombItem in projectList %}
              {% include "partials/rhomb-image.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section id="organizer" class="organizer">
      <div class="wrapper-l">
        <div class="stack-800">
          <h2 class="color-black weight-black fluid-text-800-major uppercase leading-flat">Organizers</h2>
          <div class="rhomb-grid">
            {% set organizerList = helpers.sortCollectionByArray(collections.organizer, dataSorting.organizer, 'name') %}
            {% for rhombItem in organizerList %}
              {% include "partials/rhomb-image.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    {# <section id="sponsors" class="sponsors">
      <img loading="lazy" decoding="async" alt="" class="sponsors__beam" src="/images/beams/beam-05.svg" aria-hidden="true">
      <img loading="lazy" decoding="async" alt="" class="sponsors__beam sponsors__beam--1" src="/images/beams/small_grey_stripe_left.svg" aria-hidden="true">
      <img loading="lazy" decoding="async" alt="" class="sponsors__beam sponsors__beam--2" src="/images/beams/big_grey_stripe_left.svg" aria-hidden="true">
      <div class="wrapper-l">
        <div class="stack-800">
          <h2 class="color-black weight-black fluid-text-800-major uppercase leading-flat">Sponsors</h2>
          <div class="rhomb-grid">
            {% set sponsorList = helpers.sortCollectionByArray(collections.sponsors, dataSorting.sponsors, 'name') %}
            {% for rhombItem in sponsorList %}
              {% include "partials/rhomb-image-sponsor.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section> #}

    {% include "partials/newsletter.html" %}
  </div>

{%endblock %}