{% extends "layouts/base.html" %}

{% block content %}

<div class="stack-800"> 
  <section id="plain" class="simple-content">
    <img loading="lazy" decoding="async" alt="" class="simple-content__beam" src="/images/beams/beam-05.svg" aria-hidden="true">
    <div class="wrapper-l">
      <div class="stack-800">
        <h2 class="color-peach weight-black fluid-text-800-major uppercase leading-flat">{{title}}</h2>
        <div class="wrapper-s">
          <div class="plain-html shadow-box">
            {{content | safe }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{%endblock %}