{% extends "layouts/base.html" %} {% block content %}

<section>
  <div class="wrapper-l | stack-700">
    <h1 class="fluid-text-800-major weight-black uppercase leading-tight color-peach">
      Schedule {{ year }}
    </h1>
    <div class="tabbed">
      <div class="tabbed__header | bg-peach">
        <ul class="cluster tablist">
          {% for day in schedule.days %}
            <li><a href="#day-{{day.date}}" class="text-300 md:text-400">{{ day.date | dateFormat("EEEE, MM/dd") }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {# Create a Schedule for every day #}
      {% for day in schedule.days %}
        {# Calculate Size of Grid by getting first and final hour #}
        {% set firstHour = "23" %}
        {% set lastHour = "" %}
        {% set hourCount = "" %}
        {% for room in schedule.rooms %}
          {# Check if there are events on this day in the particular room #}
          {% if day.rooms[room.name] %}
            {% for talk in day.rooms[room.name] %}
              {# Get starting hour of the first event #}
              {% if loop.first %}
                {% if talk.start.slice(0, 2) < firstHour %}
                  {% set firstHour = talk.start.slice(0, 2) %}
                {% endif %}
              {% endif %}

              {# Get starting hour of last event #}
              {% if loop.last %}
                {% if (talk.start.slice(0, 2) > lastHour) and (lastHour != "00") %}
                  {% set lastHour = talk.start.slice(0, 2) %}
                {% endif %}
              {% endif %}

            {% endfor %}
          {% endif %}
        {% endfor %}

        {# Last staring hour could be after midnight #}
        {% if lastHour < firstHour %}
          {% set hourCount = (24 - firstHour) %}
        {% else %}
          {% set hourCount = lastHour - firstHour %}
        {% endif %}

        {# Now that we know the beginning and and of the schedule, we #}
        {# can set up our grid #}
        <section id="day-{{day.date}}" class="tabbed__body | bg-white stack-500">
          <h2 class="tabbed__headline | color-white bg-peach weight-black uppercase text-700 leading-flat">{{ day.date | dateFormat("EEEE, MM/dd") }}</h2>
          {% include "partials/schedule-grid.html" %}
        </section>

      {% endfor %}
    </div>
  </div>

</section>

<script src="/scripts/tablist.js"></script>

{%endblock %}
