{% extends "layouts/base.njk" %}
{% block content %}

  <section>
    <div class="wrapper-l | stack-700">
      <h1 class="text-800-major weight-black uppercase leading-tight text-peach">
      Schedule {{ year }}
      </h1>
      <div class="tabbed">
        <div class="tabbed__header | bg-peach">
          <ul class="cluster tablist">
            {% for day in schedule.days %}
              <li>
                <a href="#day-{{day.date}}" class="text-300 md:text-400">{{ day.date | dateFormat("EEEE, MM/dd") }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {# Create a Schedule for every day #}
        {% for day in schedule.days %}
          {# Calculate Size of Grid by getting first and last starting hour #}
          {% set firstHour = "23" %}
          {% set lastHour = "" %}
          {% set hourCount = "" %}
          {% for room in schedule.rooms %}
            {# Check if there are events on this day in the particular room #}
            {% if day.rooms[room.name] %}
              {% for talk in day.rooms[room.name] %}
                {# Get starting hour of the first event #}
                {% if loop.first %}
                  {% if talk
                    .start
                    .slice(0, 2) < firstHour %}
                    {% set firstHour = talk
                      .start
                      .slice(0, 2) %}
                  {% endif %}
                {% endif %}

                {# Get starting hour of last event #}
                {% if loop.last %}
                  {% if (talk.start.slice(0, 2) > lastHour) and (lastHour != "00") %}
                    {% set lastHour = talk
                      .start
                      .slice(0, 2) %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              {# Breaks may be before or after the talks #}
              {# So we need du adjust starting and end time #}
              {% if breaks %}
                {% set currentBreaks = helpers.MatchingDayAndRoom(breaks, day.date, room.name) %}
                {% if currentBreaks.length > 0 %}
                  {% if currentBreaks[0]
                    .start
                    .slice(11, 13) < firstHour %}
                    {% set firstHour = currentBreaks[0]
                      .start
                      .slice(11, 13) %}
                  {% endif %}
                  {% if currentBreaks[currentBreaks.length - 1].end.slice(11,13) > lastHour %}
                    {% set lastHour = currentBreaks[currentBreaks.length - 1].end.slice(11,13) %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {# Last staring hour could be after midnight #}
          {% if lastHour < firstHour %}
            {% set hourCount = (24 - firstHour) + lastHour %}
          {% else %}
            {% set hourCount = lastHour - firstHour %}
          {% endif %}

          {# Now that we know the beginning and and of the schedule, we #}
          {# can set up our grid #}
          <section id="day-{{day.date}}" class="tabbed__body | bg-white stack-500">
            <h2 class="tabbed__headline | text-white bg-peach weight-black uppercase text-700 leading-flat">{{ day.date | dateFormat("EEEE, MM/dd") }}</h2>

            {% include "partials/schedule-grid.njk" %}
          </section>

        {% endfor %}
      </div>
    </div>

  </section>

  <script src="/scripts/tablist.js"></script>

{%endblock %}