{% extends "layouts/base.html" %}
{% block content %}

{% set speaker = pagination.items[0] %}

<section id="intro" class="intro">
  <div class="wrapper-l stack-300">

    <h1 class="fluid-text-800-major color-black uppercase weight-black leading-flat">
      {{ speaker.name }}
    </h1>
    <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
      {% if speaker.avatar %}
        {% avatar src=speaker.avatar, name=speaker.name, size=280 %}
      {% endif %}
      {% if speaker.biography %}
        <div class="stack-300 | fluid-text-400-500" style="flex-basis: 50%; flex-grow: 1; max-width: 60ch;">
          {{ speaker.biography | markdownFilter | safe }}
        </div>
      {% endif %}
    </div>

    <div class="wrapper-s stack-500">
      {% for submission in speaker.submissions %}
        {% for talk in talks %}
          {% if submission == talk.code %}
            {% if not talk.description or talk.description.length > 30 %}
              <div class="stack-400 shadow-box">
                <h2 class="fluid-text-600-700 uppercase weight-bold leading-tight">
                  <a href="/{{year}}/talks/{{talk.title | slugify }}" class="color-violet" style="text-decoration: none;">{{ talk.title }}</a>
                </h2>
                <div class="stack-300">
                  {% if talk.abstract %}
                  {{ talk.abstract | markdownFilter | safe }}
                  {% elif talk.description %}
                  {{ talk.description | markdownFilter | safe }}
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}

      {% endfor %}
      <div class="wrapper-s">
      <a href="javascript:history.back()" class="uppercase weight-bold color-peach">&#60; Go Back</a>
      </div>
    </div>
  </div>

</section>

{%endblock %}
