{% extends "layouts/base.njk" %}
{% block content %}

  <section>
    <div class="wrapper-l | stack-700">
      <h1 class="leading-tight uppercase text-800-major weight-black text-peach">
        Speakers {{ year }}
      </h1>

      <div class="auto-grid" style="--auto-grid-min-size: 25rem; --auto-grid-gap: 2rem;" >
        {% for speaker in speakers %}
          {% if speaker.submissions.length >= 1 %}
            {% include "partials/speaker-card.njk" %}
          {% endif %}
        {% endfor %}
      </div>

    </div>

  </section>

{%endblock %}