{% extends "layouts/base.html" %}
{% block content %}

{% set speaker = pagination.items[0] %}

<section id="intro" class="intro">
  <div class="wrapper stack-300">
    <h1 class="fluid-text-700-800 color-violet uppercase weight-bold leading-tight">
      {{ speaker.name }}
    </h1>


    {% if speaker.avatar %}
      <img style="width:70px; height:70px; object-fit: cover;" src="{{ speaker.avatar }}" alt="">
    {% endif %}
    {% if speaker.biography %}
      <hr>
      <div class="stack-300">
        {{ speaker.biography | markdownFilter | safe }}
      </div>
      <hr>
    {% endif %}
    {% for submission in speaker.submissions %}
      {% for talk in talks %}
        {% if submission == talk.code %}
          <h2 class="fluid-text-500-600 color-black uppercase weight-bold leading-tight">
            {{ talk.title }}
          </h2>
          <div class="stack-300">
            {{ talk.abstract | markdownFilter | safe }}
          </div>
        {% endif %}

      {% endfor %}

    {% endfor %}
  </div>

</section>

{%endblock %}
