{% extends "layouts/base.njk" %}

{% block content %}

  <section>
    <div class="wrapper-l | stack-700">
      <h1 class="text-800-major weight-black uppercase leading-tight text-peach">
      Talks {{ year }}!
    </h1>
      <ul class="jump-navigation | bg-peach">
        {% for day in schedule.days %}
          <li>
            <a href="#day-{{day.date}}" class="text-white weight-bold">
              <span class="jump-navigation__day-count">Day {{ helpers.trailingZeroes(loop.index, 2) }}</span>
              <span class="jump-navigation__date">{{ day.date | dateFormat("EEEE, MM/dd") }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="stack-800">
        {% for day in schedule.days %}

          <section id="day-{{day.date}}" class="jump-navigation-target | stack-400">
            <h2 class="weight-black text-violet uppercase text-700-800 leading-flat">{{ day.date | dateFormat("EEEE, MM/dd") }}</h2>
            <div class="stack-600">
              {% for room in schedule.rooms %}
                {% if day.rooms[room.name] %}
                  <div class="stack-200">
                    <h3 class="weight-black uppercase text-500-600 leading-flat">{{room.name}}</h3>
                    <div class="stack-100">
                      {% for talk in day.rooms[room.name] %}
                        <article class="talk-card {% if talk.abstract %}talk-card--linked{% endif %}" style="padding: 0.5rem 1rem;">
                          <h4 class="weight-bold text-300 md:text-400">
                            {{talk.title}}
                          </h4>
                          <p class="text-300">
                            {% for person in talk.persons %}
                              {% if loop.first %}
                                {{ person.public_name }}
                              {% else %}, {{ person.public_name }}
                              {% endif %}
                            {% endfor %}
                          </p>
                          {% if talk.abstract %}
                            <a class="talk-card__link" href="/{{ year }}/talks/{{ talk.title | slugify }}">
                              <span class="sr-only">Talk details: {{talk.title}}</span>
                            </a>
                          {% endif %}
                        </article>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
    </div>
  </section>
{%endblock %}