{% extends "layouts/base.html" %}
{% block content %}

{% set talk = pagination.items[0] %}

<section id="intro" class="intro">
  <div class="wrapper stack-300">
    <h1 class="fluid-text-700-800 leading-flat uppercase color-black">
      {{ talk.title }}
    </h1>
    {% for video in videos %}
      {% if video.submission == talk.code %}
        <iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?h=7a191cc612&color=4f51a9" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
    {% endfor %}

    <p>
      <span class="weight-bold">
        {{ talk.slot.room.en }},
        <time datetime="{{ talk.slot.start | w3DateFilter }}">{{ talk.slot.start | dateFilter}}</time>
      </span>
      <span>
        {{ helpers.getDuration(talk.slot.start, talk.slot.end) }}
      </span>
    </p>

    {% if talk.abstract %}
      <hr>
      <div class="stack-300">
        {{ talk.abstract | markdownFilter | safe }}
      </div>
      <hr>
    {% endif %}
    {% if talk.resources.length > 0 %}
      <h2>Resources:</h2>
      <ul>
      {% for resource in talk.resources %}
        <li>
          <a href="https://talks.osfc.io{{resource.resource}}">
            {{ resource.description }}
          </a>
        </li>
      {% endfor %}
      </ul>
      <hr>
    {% endif %}


    <h2 class="sr-only">Speakers</h2>
    {% if talk.speakers %}
      <div class="auto-grid" style="--auto-grid-min-size: 25rem; --auto-grid-gap: 2rem;" >
        {% for speaker in talk.speakers %}
          {% include "partials/speaker-card.html" %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

</section>

{%endblock %}
