{% extends "layouts/base.html" %}

{% block content %}

<section>
  <div class="wrapper-l | stack-700">
    <h1 class="fluid-text-800-major weight-black uppercase leading-tight color-peach">
      Talk List {{ year }}!
    </h1>

    <div class="stack-100">
      {% for talk in talks %}
        {% if talk.is_featured and talk.state == "confirmed" %}
          <article class="talk-card {% if talk.abstract %}talk-card--linked{% endif %}" style="padding: 0.5rem 1rem;">
            <h2 class="weight-bold fluid-text-500-600">
              {{talk.title}}
            </h2>
            <p class="text-300">
              by
              {% for person in talk.speakers %}
                {% if loop.first %}
                  {{ person.name }}
                {% else %}, {{ person.name }}{% endif %}
              {% endfor %}
            </p>
            {# {% if talk.abstract %}
              <div class="stack-300">
                {{ talk.abstract | markdownFilter | safe }}
              </div>
            {% endif %} #}

            {% if talk.abstract %}
              <a class="talk-card__link" href="/{{ year }}/talks/{{ talk.title | slugify }}">
                <span class="sr-only">Talk details: {{talk.title}}</span>
              </a>
            {% endif %}
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{%endblock %}
