{% extends "layouts/base.njk" %}
{% block content %}

  {% set talk = pagination.items[0] %}

  <div class="wrapper-l stack-200">

    <h1 class="text-black uppercase text-800-900 leading-flat weight-black">
      {{ talk.title }}
    </h1>
    <div class="cluster" style="--cluster-gap: 0.5rem;">
      {% for speaker in talk.speakers %}
         {% include "partials/speaker-pill.njk" %}
      {% endfor %}
    </div>
    <p class="weight-bold">
      {% set slot = talk.slots[0] %}
      {{ slot.room.name.en }},
      {% if slot.start %}
        <time datetime="{{ slot.start | toISODate }}">
          {{ slot.start | dateFormat("EEEE, MM/dd") }}
        </time>
      {% endif %}
    </p>
    <div class="wrapper-s shadow-box stack-400 my-stack-space-600">
      {% for video in videos %}
        {% if video.submission == talk.code %}
          <div class="video" style="--aspect-ratio:16/9;">
            <iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?h=7a191cc612&color=4f51a9" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

          </div>
        {% endif %}
      {% endfor %}
      {% if talk.abstract %}
        <div class="stack-300 text-400-500">
          {{ talk.abstract | markdownFilter | safe }}
        </div>
      {% endif %}
      {% if talk.description %}
        <div class="stack-300 text-400-500">
          {{ talk.description | markdownFilter | safe }}
        </div>
      {% endif %}
      {% if talk.resources.length > 0 %}
        <h2>Resources:</h2>
        <ul>
          {% for resource in talk.resources %}
            <li>
              <a href="{{resource.resource}}">
                {{ resource.description }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="wrapper-s">
      {% if year < years.currentYear %}
        <a href="/archive/{{year}}" class="uppercase weight-bold text-peach">&#60; Back to Archive</a>
      {% endif %}
    </div>

  </div>

{%endblock %}
