{% extends "layouts/base.html" %}
{% block content %}

{% set talk = pagination.items[0] %}

<section id="intro" class="intro">
  <div class="wrapper stack-300">
    <h1 class="text-400 sm:text-500 md:text-600 leading-tight">
      {{ talk.title }}
    </h1>
    {% for video in videos %}
      {% if video.submission == talk.code %}
        <iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?h=7a191cc612&color=4f51a9" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
    {% endfor %}

    <p>
      <span class="weight-bold">
        {{ talk.slot.room.en }},
        <time datetime="{{ talk.slot.start | w3DateFilter }}">{{ talk.slot.start | dateFilter}}</time>
      </span>
      <span>
        {{ helpers.getDuration(talk.slot.start, talk.slot.end) }}
      </span>
    </p>

    {% if talk.abstract %}
      <hr>
      <div class="stack-300">
        {{ talk.abstract | markdownFilter | safe }}
      </div>
      <hr>
    {% endif %}
    {% if talk.resources %}
      <h2>Resources:</h2>
      <ul>
      {% for resource in talk.resources %}
        <li>
          <a href="https://talks.osfc.io{{resource.resource}}">
            {{ resource.description }}
          </a>
        </li>
      {% endfor %}
      </ul>
      <hr>
    {% endif %}

    {% if talk.speakers.length > 1 %}
      <h2>Speakers</h2>
      <ul>
        {% for speaker in talk.speakers %}
          <li>
            <h3>{{ speaker.name }}</h3>
            {% if speaker.avatar %}
              <img style="width:50px; height:50px; object-fit: cover;" src="{{ speaker.avatar }}" alt="">
            {% endif %}
            {% if speaker.biography %}<p>{{ speaker.biography }}</p>{% endif %}
          </li>
        {% endfor %}
      </ul>
    {% elif talk.speakers.length > 0 %}
      <h2>Speaker: {{ talk.speakers[0].name }}</h2>
      {% if talk.speaker[0].avatar %}
        <img style="width:50px; height:50px; object-fit: cover;" src="{{ talk.speaker[0].avatar }}" alt="">
      {% endif %}
      <p>{{ talk.speakers[0].biography }}</p>
    {% endif %}
  </div>

</section>

{%endblock %}
