{% extends "layouts/base.html" %}

{% block content %}
<svg style="width: 0; height: 0; display: block; opacity: 0;">
  <defs>
    <clipPath id="oct-clip">
      <polygon points="7 188 7 142 142 7 188 7 323 142 323 188 188 323 142 323"></polygon>
    </clipPath>
  </defs>
</svg>
<div class="stack-major">

  <section id="team" class="team">
    <img alt="" class="team__beam" src="/images/beams/beam-04.svg" aria-hidden="true">
    <img alt="" class="team__beam team__beam--1" src="/images/beams/beam-05.svg" aria-hidden="true">
    <div class="wrapper-l">
      <div class="stack-700">
        <h2 class="color-peach weight-black fluid-text-800-major uppercase leading-flat">Team</h2>
        <div class="person-grid">
          {% set teamList = helpers.sortCollectionByArray(collections.team,dataSorting.team, 'name') %}
          {% for rhombItem in teamList %}
            {% include "partials/rhomb-person.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

</div>

{%endblock %}