{% extends "layouts/base.html" %}

{% block content %}
<div class="stack-major">

  <section id="team" class="team">
    <div class="wrapper-l">
      <div class="stack-300">
        <h2 class="color-black weight-black fluid-text-800-major uppercase leading-flat">Team</h2>
        <div class="rhomb-grid">
          {% for rhombItem in collections.team %}
            {% include "partials/rhomb-image.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


</div>

{%endblock %}