.button {
  display: inline-block;
  background: get-color("peach");
  text-decoration: none;
  color: get-color("white");
  padding: get-size("400");
  font-size: get-size("400");
  @include apply-utility("weight", "bold");
  @include apply-utility("leading", "flat");
  text-transform: uppercase;

  &:hover,
  &:active {
    background: get-color("violet");
    color: get-color("white");
  }
}
[aria-current="page"] {
  background: get-color("violet");
}
[data-state="active"] {
  color: get-color("peach");
}
