.person {
  text-align: center;
  position: relative;

  &__details {
    margin-top: 1rem;

    > * {
      display: block;
    }
  }

  @media screen and (min-width: 50rem) {
    &__details {
      width: 80%;
      margin-inline: auto;
    }
  }

  @media screen and (min-width: 75rem) {
    text-align: left;

    &__details {
      width: auto;
      position: absolute;
      left: 0;
      top: 60%;
      transform: rotate(45deg);
      transform-origin: left top;
    }
  }
}

.person-grid {
  display: grid;
  gap: 3rem;

  > * {
    max-width: min(80%, 24.375rem);
    margin-inline: auto;
  }

  @media screen and (min-width: 36rem) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 3rem;

    > * {
      max-width: none;
      width: 100%;
      grid-column-end: span 2;

      &:nth-child(odd) {
        grid-column-start: 2;
      }
    }
  }

  @media screen and (min-width: 50rem) {
    grid-template-columns: repeat(4, 1fr);

    > *:nth-child(odd) {
      grid-column-start: auto;
    }

    > *:nth-child(3n-2) {
      grid-column-start: 2;
    }
  }

  @media screen and (min-width: 64rem) {
    grid-template-columns: repeat(6, 1fr);

    > *:nth-child(3n-2) {
      grid-column-start: auto;
    }

    > *:nth-child(5n-4) {
      grid-column-start: 2;
    }
  }

  @media screen and (min-width: 75rem) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 17rem;

    > *:not(:first-child) {
      margin-top: -4rem;
    }

    > *:nth-child(5n-4) {
      grid-column-start: auto;
    }

    > *:nth-child(3n - 1) {
      grid-column-start: 2;
    }
  }
}
