.plain-html {
  position: relative;

  &__beam {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: 100vw;
    left: 0;
    top: -10vh;
  }

  &::before {
    pointer-events: none;
    position: absolute;
    right: -0.75rem;
    top: 50%;
    width: 24.02vw;
    height: 40.2vw;
    background: url(/images/beams/deco-line-02.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
  }

  h2 {
    text-align: center;
  }
  &__body {
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    max-width: 80ch;
    box-shadow: 0 6px 22px 0 rgb(0 0 0 / 17%);

    p,
    li {
      font-size: get-size("500");
    }

    h3 {
      text-transform: uppercase;
      font-size: get-size("700");
      color: get-color("black");
      line-height: 1.3;
    }

    p + h3 {
      margin-top: 2rem;
    }

    a {
      color: get-color("peach");
      text-decoration: none;
    }
  }
}
