.tablist {
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
  --cluster-gap: 0.5rem;
}

.tablist a {
  color: get-color("violet");
  text-decoration: none;
  display: inline-block;
  pointer-events: auto;
  cursor: pointer;
  padding: get-size("200") get-size("300");
  @include apply-utility("weight", "bold");
  position: relative;
  border: 1px solid transparent;
}

[role="tablist"] [aria-selected] {
  background: get-color("violet");
  color: get-color("white");
  border-color: get-color("violet");
  border-bottom-color: get-color("light-gray");

  &:focus {
    outline-offset: -5px;
  }
}
