[class*="wrapper-"] {
  --wrapper-padding-inline: #{get-size("300")};

  max-width: var(--wrapper-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--wrapper-padding-inline);
  position: relative;
  z-index: 3;
}

.wrapper-l {
  --wrapper-width: 75rem;
}

.wrapper-m {
  --wrapper-width: 65rem;
}

.wrapper-s {
  --wrapper-width: 80ch;
}
