---
title: "Gadget 2025"
permalink: "/gadget2025/index.html"
transparentHeader: false
headerTextShadow: true
---

{% extends "layouts/base.njk" %}
{% block content %}
  <div class="stack-900">
    <section class="gadget-intro">
      <video class="gadget-intro__video" src="/assets/video/gadget-2025/macropad.webm" type="video/webm" playsinline muted autoplay loop></video>

      <div class="gadget-intro__content">
        <div class="wrapper-l">

          {% include "partials/gadget-2025/keycap-typo.svg" %}

          <h1 class="sr-only">
            Press to Open source
          </h1>
        </div>
      </div>
    </section>

    <section class="gadget-info">
      <div class="py-900 wrapper-s stack-800">
        {% include "partials/gadget-2025/powered-by-9e.svg" %}

        <div class="gadget-info__divider" aria-hidden="true"></div>

        <div class="gadget-info__card | shadow-box bg-light-gray stack-500">
          <p class="uppercase text-bronze weight-black">#OSFC2025GADGET – Built for OSFC, open to the community.</p>
          <h2 class="uppercase text-800-900 text-peach weight-black leading-flat">
            Press to Open Source, literally
          </h2>
          <p class="weight-bold">
            Every conference has swag. But this year, OSFC 2025 has super-swag: a custom-built macropad, designed, assembled, and flashed in-house at 9elements. It’s more than a gadget in your goodie bag – It’s a piece of OSFC you can hack, extend, and take home.
          </p>
          <p>
            The details (because we know you care): 
          </p>
          <ul class="stack-200">
            <li>Fully open-source firmware, written in Rust using the Embassy framework</li>
            <li>3 mechanical keyswitches + 1 rotary encoder</li>
            <li>USB-C connection</li>
            <li>Based on the Raspberry Pi Pico (RP2040) microcontroller board</li>
            <li>Removable, socketed Raspberry Pi Pico</li>
            <li>Four programmable WS2812-compatible RGB LEDs</li>
            <li>One mode selection switch with three positions: Top: Programmer / serial interface only Middle: Full feature set Bottom: Macro keypad only</li>
            <li>Rear 8-pin connector for programming SPI flash chips using the serprog protocol (compatible with Flashrom/Flashprog)</li>
            <li>Rear 3-pin connector configured as a UART interface in the default firmware</li>
          </ul>

          <p>
            <strong>It’s our way of saying thanks!</strong> <br />
            Take it home. Hack it. Extend it. Share it. 
          </p>

          <div class="cluster my-stack-space-800" style="--cluster-justification: center">
            <a class="button" href="https://github.com/9elements/OSKAR">
              Customize your board
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="gadget-slider pb-900 wrapper-l">
      <swiper-container slides-per-view="auto" centered-slides="true" autoplay="true" autoplay-delay="6000" space-between="32" speed="750" grab-cursor="true">
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-1.jpg" />
        </swiper-slide>
        <swiper-slide>
          <video src="/assets/images/gadget-2025/gadget-bts.webm" type="video/webm" playsinline controls autoplay loop />
        </swiper-slide>
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-2.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-3.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-4.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-5.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-6.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-7.jpg" />
        </swiper-slide>
        <swiper-slide>
          <img loading="lazy" decoding="async" width="600" alt="" src="/assets/images/gadget-2025/slider-8.jpg" />
        </swiper-slide>
      </swiper-container>
    </section>

    {% include "partials/newsletter.njk" %}
  </div>

  {% script src = "gadget2025.js" %}
  {% endblock %}
