/// BASE SIZE
/// All calculations are based on this. It’s recommended that
/// you keep it at 1rem because that is the root font size. You
/// can set it to whatever you like and whatever unit you like.
///
$gorko-base-size: 1rem;

/// SIZE SCALE
/// This is a Major Third scale that powers all the utilities that
/// it is relevant for (font-size, margin, padding). All items are
/// calcuated off the base size, so change that and cascade across
/// your whole project.
///
$gorko-size-scale: (
  /* 4  */ "100": $gorko-base-size * 0.25,
  /* 10 */ "200": $gorko-base-size * 0.625,
  /* 14 */ "300": $gorko-base-size * 0.875,
  /* 16 */ "400": $gorko-base-size,
  /* 18 */ "500": $gorko-base-size * 1.125,
  /* 24 */ "600": $gorko-base-size * 1.5,
  /* 32 */ "700": $gorko-base-size * 2,
  /* 44 */ "800": $gorko-base-size * 2.75,
  /* 72 */ "900": $gorko-base-size * 4.5,
  /* 112 */ "major": $gorko-base-size * 7
);

$fluid-min-width: 480;
$fluid-max-width: 1440;
$fluid-bp: calc(
  (100vw - ($fluid-min-width / 16 * 1rem)) /
    ($fluid-max-width - $fluid-min-width)
);

$fluid-size-scale: (
  "300-400":
    clamp(
      map-get($gorko-size-scale, "300"),
      calc(map-get($gorko-size-scale, "300") + 2 * $fluid-bp),
      map-get($gorko-size-scale, "500")
    ),
  "400-500":
    clamp(
      map-get($gorko-size-scale, "400"),
      calc(map-get($gorko-size-scale, "400") + 2 * $fluid-bp),
      map-get($gorko-size-scale, "500")
    ),
  "500-600":
    clamp(
      map-get($gorko-size-scale, "500"),
      calc(map-get($gorko-size-scale, "500") + 6 * $fluid-bp),
      map-get($gorko-size-scale, "600")
    ),
  "600-700":
    clamp(
      map-get($gorko-size-scale, "600"),
      calc(map-get($gorko-size-scale, "600") + 8 * $fluid-bp),
      map-get($gorko-size-scale, "700")
    ),
  "700-800":
    clamp(
      map-get($gorko-size-scale, "700"),
      calc(map-get($gorko-size-scale, "700") + 12 * $fluid-bp),
      map-get($gorko-size-scale, "800")
    ),
  "800-900":
    clamp(
      map-get($gorko-size-scale, "800"),
      calc(map-get($gorko-size-scale, "800") + 28 * $fluid-bp),
      map-get($gorko-size-scale, "900")
    ),
  "800-major":
    clamp(
      map-get($gorko-size-scale, "800"),
      calc(map-get($gorko-size-scale, "800") + 68 * $fluid-bp),
      map-get($gorko-size-scale, "major")
    ),
);
/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///
$gorko-colors: (
  "violet": #4f51a9,
  "light-blue": #80d5eb,
  "white": #ffffff,
  "light-gray": #f1f1f1,
  "dark-gray": #4a4a4a,
  "black": #000,
  "peach": #f96360,
);

/// CORE CONFIG
/// This powers everything from utility class generation to breakpoints
/// to enabling/disabling pre-built components/utilities.
///
$gorko-config: (
  "css-vars": (
    "color": $gorko-colors,
  ),
  "bg": (
    "items": "color",
    "css-vars": true,
    "output": "standard",
    "property": "background-color",
  ),
  "color": (
    "items": "color",
    "css-vars": true,
    "output": "standard",
    "property": "color",
  ),
  "text": (
    "items": $gorko-size-scale,
    "output": "responsive",
    "property": "font-size",
  ),
  "fluid-text": (
    "items": $fluid-size-scale,
    "output": "standard",
    "property": "font-size",
  ),
  "leading": (
    "items": (
      "flat": "1",
      "tight": "1.2",
      "loose": "1.7",
    ),
    "output": "standard",
    "property": "line-height",
  ),
  "weight": (
    "items": (
      "regular": "400",
      "bold": "700",
      "black": "900",
    ),
    "output": "standard",
    "property": "font-weight",
  ),
  "breakpoints": (
    "md": "(min-width: 36em)",
    "lg": "(min-width: 64em)",
    "xl": "(min-width: 80em)",
    "xxl": "(min-width: 90em)",
    "xxxl": "(min-width: 100em)",
  ),
);
