// First up: config and functions
@import "config";

// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

@import "reset";

// Easings => https://gist.github.com/argyleink/36e1c0153d2a783d513bd29c9f25aaf2
:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: get-color("light-gray");
  color: get-color("dark-gray");
  transition: background-color 0.3s ease-out;
}

.triangle {
  --deco-border-width: 190vw;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: var(--deco-border-width) var(--deco-border-width) 0 0;
  border-color: get-color("violet") transparent transparent transparent;
  //transition: border-width 0.3s ease-out;

  @include media-query("lg") {
    --deco-border-width: 130vw;
  }
}

a:not([class]) {
  color: currentColor;
  //text-decoration-color: get-color('quinary');
}

:focus-visible {
  outline: 2px dashed get-color("peach");
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  @include apply-utility("weight", "bold");
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color("white");

  // We set this as an RGBA because that’s how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color("violet"), 0.99);
}

// Scrollbar styles
::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: get-color("light-gray");
  border: 1px solid get-color("violet");
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: get-color("violet");
  border-radius: 0.25rem;
}

.site-wrap {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

// Layout
@import "layout/auto-grid";
@import "layout/cluster";
@import "layout/stack";
@import "layout/wrapper";

// Utilities
@import "utilities/aspect-ratio";
@import "utilities/sr-only";
@import "utilities/uppercase";

// Blocks
@import "blocks/avatar";
@import "blocks/button";
@import "blocks/gallery";
@import "blocks/grid-event";
@import "blocks/home-intro";
@import "blocks/jump-navigation";
@import "blocks/person";
@import "blocks/plain-html";
@import "blocks/rhomb-grid";
@import "blocks/rhomb-image";
@import "blocks/schedule";
@import "blocks/shadow-box";
@import "blocks/simple-content";
@import "blocks/site-foot";
@import "blocks/speaker-card";
@import "blocks/speaker-pill";
@import "blocks/tablist";
@import "blocks/talk-card";
@import "blocks/video";

// Pages
@import "pages/archive";
@import "pages/home";
@import "pages/team";
