{% if gallery %}
{# <a href="#gallery">
  <div class="oscar-sign"><span class="text-600 weight-bold">{{year}}'s <br>Photos</span></div>
</a> #}
<a href="#gallery" class="oscar-sign" aria-label="See {{year}}'s Photos">
  {% include "partials/oscar-sign.svg" %}
</a>
{% endif %}

    <ul class="jump-navigation | bg-peach">
      {% for day in schedule.days %}
        <li><a href="#day-{{day.date}}" class="color-white weight-bold">
          <span class="jump-navigation__day-count">Day {{ helpers.trailingZeroes(loop.index, 2) }}</span>
          <span class="jump-navigation__date">{{ day.date | dateFilter('numeric', 'long', '2-digit') }}</span>
        </a></li>
      {% endfor %}
    </ul>

    <div class="stack-800">
      {% for day in schedule.days %}

        <section id="day-{{day.date}}" class="jump-navigation-target | stack-400">
          <h2 class="weight-black color-violet uppercase fluid-text-700-800 leading-flat">{{ day.date | dateFilter }}</h2>
          <div class="stack-600">
            {% for room in schedule.rooms %}
              {% if day.rooms[room.name] %}
                <div class="stack-200">
                  <h3 class="weight-black uppercase fluid-text-500-600 leading-flat">{{room.name}}</h3>
                  <div class="stack-100">
                    {% for talk in day.rooms[room.name] %}
                      <article class="talk-card {% if talk.abstract %}talk-card--linked{% endif %}" style="padding: 0.5rem 1rem;">
                        <h4 class="weight-bold text-300 md:text-400">
                          {{talk.title}}
                        </h4>
                        <p class="text-300">
                          {% for person in talk.persons %}
                            {% if loop.first %}
                              {{ person.public_name }}
                            {% else %}, {{ person.public_name }}{% endif %}
                          {% endfor %}
                        </p>
                        {% if talk.abstract %}
                          <a class="talk-card__link" href="/{{ year }}/talks/{{ talk.title | slugify }}">
                            <span class="sr-only">Talk details: {{talk.title}}</span>
                          </a>
                        {% endif %}
                      </article>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </section>
      {% endfor %}
    </div>