<div id="gallery" class="gallery">
  <h2>{{year}}'s Photos</h2>
  <div class="gallery-items">
    {% for item in gallery %}
      <img
        loading="lazy"
        decoding="async"
        src="{{item.img}}"
        alt="{{item.alt}}"
        class="gallery-item gallery-item--{{ item.format }}"/>
    {% endfor %}
  </div>
</div>