<section id="newsletter" class="newsletter">
  <div class="wrapper-l">
    <div class="stack-800">
      <h2 class="text-peach weight-black text-800-major uppercase leading-flat">Newsletter</h2>
      <div class="wrapper-s stack-800">
        <p class="text-600">Join our newsletter to get the latest news about the conference. Also, we'll notify you once we open our CFP and the tickets are available. </p>
        <a class="button" href="https://mailchi.mp/01a2d5ccbe95/osfc-subscription" target="_blank">Subscribe</a>
      </div>
    </div>
  </div>
</section>