<div class="rhomb-image">
  {% set projectSize = 330 %}
  {% set projectOffset = 0 %}

  {% if rhombItem.data.size == "m" %}
    {% set projectSize = 230 %}
    {% set projectOffset = 50 %}
  {% endif %}

  {% if rhombItem.data.size == "s" %}
    {% set projectSize = 160 %}
    {% set projectOffset = 85 %}
  {% endif %}

  {% if rhombItem.url %}
    <a href="{{ rhombItem.url }}">
  {% endif %}
    <svg class="rhomb-image__svg" viewBox="0 0 330 330" aria-label="{{ rhombItem.data.name }}">
      <path d="M0 189v-48L141 0h48l141 141v48L189 330h-48L0 189Z" fill="url(#{{rhombItem.data.sponsor}})"/>
  <g filter="url(#shadow)">
    <path d="M23.1 185.7v-41.4L144.3 23.1h41.4l121.2 121.2v41.4L185.7 306.9h-41.4L23.1 185.7Z" fill="#fff"/>
  </g>
      <image clip-path="url(#oct-clip-sponsor)" height="{{ projectSize }}" width="{{ projectSize }}"
        x="{{ projectOffset }}" y="{{ projectOffset }}"
        xlink:href="/images/{{rhombItem.data.tags}}/{{ rhombItem.data.image }}"></image>  
    </svg>
    {% if rhombItem.url %}
      </a>
    {% endif %}
</div>