<figure class="person">
  {% include "partials/rhomb-image.njk" %}
  <figcaption class="person__details">
    <span class="text-600-700 leading-flat text-violet weight-bold uppercase">{{ rhombItem.data.name }}</span>
    <span class="text-500-600 leading-tight">{{ rhombItem.data.position }}</span>
  </figcaption>
</figure>