<div class="rhomb-image">
  {% set projectSize = 330 %}
  {% set projectOffset = 0 %}

  {% if rhombItem.data.size == "m" %}
    {% set projectSize = 230 %}
    {% set projectOffset = 50 %}
  {% endif %}

  {% if rhombItem.data.size == "s" %}
    {% set projectSize = 160 %}
    {% set projectOffset = 85 %}
  {% endif %}

  {% if rhombItem.data.link %}
    <a href="{{ rhombItem.data.link }}" target="_blank">
  {% endif %}
    <svg class="rhomb-image__svg" viewBox="0 0 330 330" aria-label="{{ rhombItem.data.name }}">
      <polygon class="rhomb-image__border" fill="#fff" stroke-width="14" stroke="#fff"
        points="7 188 7 142 142 7 188 7 323 142 323 188 188 323 142 323"></polygon>
      <image clip-path="url(#oct-clip)" height="{{ projectSize }}" width="{{ projectSize }}"
        x="{{ projectOffset }}" y="{{ projectOffset }}"
        xlink:href="/images/{{rhombItem.data.tags}}/{{ rhombItem.data.image }}"></image>
    </svg>
    {% if rhombItem.data.link %}
      </a>
    {% endif %}
</div>