<header class="site-head | bg-violet color-white">
  <div class="wrapper">
    <div class="site-head__inner" style="padding: 2rem 0;">
      <div class="cluster">
        <a class="color-white weight-bold uppercase" href="/">OSFC - Home</a>
        <a class="color-white weight-bold uppercase" href="/2020/schedule">Schedule 2020</a>
        <a class="color-white weight-bold uppercase" href="/2020/speakers">Speakers 2020</a>
        <a class="color-white weight-bold uppercase" href="/2021/schedule">Schedule 2021</a>
        <a class="color-white weight-bold uppercase" href="/2021/speakers">Speakers 2021</a>
      </div>
    </div>
  </div>
</header>