<footer class="site-foot | bg-violet text-white">
  <div class="wrapper-l">
    <div class="site-foot__inner stack-300">
      <div class="footer-statement">
        <p class="leading-tight text-400 weight-bold">Made with 🤍 by <a href="https://9esec.io/">9elements</a> in Bochum</p>
      </div>
      <ul class="site-foot__list text-400">
        <li><img src="/assets/images/icons/icon_pin.svg" alt=""> Kortumstraße 19-21, 44787 Bochum</li>
        <li><img src="/assets/images/icons/icon_telephone.svg" alt="">
          <a href="tel:+492346894188">+49 234 689 41 88</a>
        </li>
        <li><img src="/assets/images/icons/icon_mail.svg" alt="">
          <a href="mailto:info@osfc.io">Contact</a>
        </li>
        <li><img src="/assets/images/icons/icon_pin.svg" alt="">
          <a href="https://twitter.com/osfc_io">Twitter</a>
        </li>
        <li><img src="/assets/images/icons/icon_linkedin.svg" alt="">
          <a href="https://www.linkedin.com/company/osff">LinkedIn</a>
        </li>
        <li><img src="/assets/images/icons/icon_imprint.svg" alt="">
          <a href="/imprint">Imprint</a>
        </li>
        <li><img src="/assets/images/icons/icon_data_privacy.svg" alt="">
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>