<footer class="site-foot | bg-violet color-white">
  <div class="wrapper-l">
    <div class="site-foot__inner stack-300">
      <div class="footer-statement"><p class="text-400 leading-tight weight-bold">Made with 💙 by <a href="https://9esec.io/">9elements</a> in Bochum</p>
      </div>
      <ul class="site-foot__list text-400">
        <li><img src="/images/icons/icon_pin.svg" alt=""> Kortumstraße 19-21, 44787 Bochum</li>
        <li><img src="/images/icons/icon_telephone.svg" alt=""><a href="">+49 234 689 41 88</a></li>
        <li><img src="/images/icons/icon_mail.svg" alt=""><a href="">Contact</a></li>
        <li><img src="/images/icons/icon_pin.svg" alt=""><a href="">Twitter</a></li>
        <li><img src="/images/icons/icon_imprint.svg" alt=""><a href="/imprint">Imprint</a></li>
        <li><img src="/images/icons/icon_data_privacy.svg" alt=""><a href="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>