<header class="site-head | bg-violet color-white" style="z-index: 6;">
  <div class="wrapper">
    <div class="site-head__inner" style="padding: 2rem 0;">
      <div class="cluster">
        <a class="color-white weight-bold uppercase" href="/">Home</a> |
        <span>2020:</span>
        <a class="color-white weight-bold uppercase" href="/2020/talks">Talks</a> |
        <span>2021:</span>
        <a class="color-white weight-bold uppercase" href="/2021/schedule">Schedule</a>
        <a class="color-white weight-bold uppercase" href="/2021/speakers">Speakers</a>
        <a class="color-white weight-bold uppercase" href="/2021/talk-list">Talk List</a>
        |
        <a href="/code-of-conduct">COC</a>
        |
        <a href="/imprint">Imprint</a>
        |
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
</header>