<header class="site-head | color-white" style="z-index: 6;">
  <div class="wrapper-l">
    <nav aria-label="Main" class="nav | cluster" style="padding: 2rem 0">

    {% if page.url == "/" %}
            <span class="nav__home-link">
            {% else %}
              <a href="/" aria-label="Home" class="nav__home-link">
              {% endif %}
              {% include "partials/OSFC-logo-purple.svg"%}
              {% if page.url == "/" %}
              </span>
            {% else %}
            </a>
    {% endif %}
          <button
        class="nav__button"
        id="hamburger"
        aria-controls="nav__items"
        aria-expanded="false"
        aria-label="Toggle menu"
      >
        {% include "partials/hamburger.svg" %}
      </button>

        <ul class="nav__items" id="nav__items">
        {% for item in navigation.items %}
          <li class="nav__item">
            <a class="nav__link | color-white weight-bold uppercase" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
          <li class="nav__item">
             <a class="button button--on-violet" href="https://mailchi.mp/01a2d5ccbe95/osfc-subscription" target="_blank">Subscribe</a>
          </li>
      </ul>
    </nav>
  </div>
</header>


