<div class="speaker-card {% if sepakerCardCondensed %}speaker-card--condensed{% endif %} | bg-white">
  <a class="speaker-card__image" href="/{{year}}/speakers/{{ speaker.name | slugify }}">
    {% avatar src=speaker.avatar, name=speaker.name, size="224" %}
  </a>
  <div class="speaker-card__body | stack-200">
    <h2 class="speaker-card__name | fluid-text-500-600 leading-tight weight-bold uppercase">
      <a href="/{{year}}/speakers/{{ speaker.name | slugify }}">
        {{ speaker.name }}</a>
      </a>
    </h2>
    <ul class="speaker-card__talklist | fluid-text-300-400">
      {% for submission in speaker.submissions %}
        {% for talk in talks %}
          {% if talk.code == submission %}
            <li class="leading-tight">
              <a href="/{{year}}/talks/{{talk.title | slugify }}">{{ talk.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>