<ul class="year-navigation">
  {% for item in years.years %}
    <li>
      <a href="/archive/{{item}}" class="weight-bold button" aria-current={{"page" if year == item else "default"}}>
        <span class="">{{item}}</span>
      </a>
    </li>
  {% endfor %}
</ul>